# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the  datasets [cars1.csv](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv) and [cars2.csv](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv) from the folder

In [8]:
cars1.dtypes

mpg             float64
cylinders         int64
displacement      int64
horsepower       object
weight            int64
acceleration    float64
model             int64
origin            int64
car              object
Unnamed: 9      float64
Unnamed: 10     float64
Unnamed: 11     float64
Unnamed: 12     float64
Unnamed: 13     float64
dtype: object

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [3]:
cars1 = pd.read_csv("C:/Users/Latha/Desktop/Assignment/cars1.csv")

In [4]:
cars2 = pd.read_csv("C:/Users/Latha/Desktop/Assignment/cars2.csv")

In [5]:
cars2.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se

In [6]:
cars1.shape

(198, 14)

In [7]:
cars2.shape

(200, 9)

In [ ]:
drop_data=['']

### Step 4. It seems our first dataset has some unnamed blank columns, fix cars1

In [7]:
cars1.isnull()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,False,False,False,False,False,False,False,False,False,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,True,True,True,True,True
5,False,False,False,False,False,False,False,False,False,True,True,True,True,True
6,False,False,False,False,False,False,False,False,False,True,True,True,True,True
7,False,False,False,False,False,False,False,False,False,True,True,True,True,True
8,False,False,False,False,False,False,False,False,False,True,True,True,True,True
9,False,False,False,False,False,False,False,False,False,True,True,True,True,True
10,False,False,False,False,False,False,False,False,False,True,True,True,True,True
11,False,False,False,False,False,False,False,False,False,True,True,True,True,True
12,False,False,False,False,False,False,False,False,False,True,True,True,True,True
13,False,False,False,False,False,False,False,False,False,True,True,True,True,True
14,False,False,False,False,False,False,False,False,False,True,True,True,True,True
15,False,False,False,False,False,False,False,False,False,True,True,True,True,True
16,False,False,False,False,False,False,False,False,False,True,True,True,True,True
17,False,False,False,False,False,False,False,False,False,True,True,True,True,True
18,False,False,False,False,False,False,False,False,False,True,True,True,True,True
19,False,False,False,False,False,False,False,False,False,True,True,True,True,True
20,False,False,False,False,False,False,False,False,False,True,True,True,True,True
21,False,False,False,False,False,False,False,False,False,True,True,True,True,True
22,False,False,False,False,False,False,False,False,False,True,True,True,True,True
23,False,False,False,False,False,False,False,False,False,True,True,True,True,True
24,False,False,False,False,False,False,False,False,False,True,True,True,True,True
25,False,False,False,False,False,False,False,False,False,True,True,True,True,True
26,False,False,False,False,False,False,False,False,False,True,True,True,True,True
27,False,False,False,False,False,False,False,False,False,True,True,True,True,True
28,False,False,False,False,False,False,False,False,False,True,True,True,True,True
29,False,False,False,False,False,False,False,False,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,False,False,False,False,False,False,False,False,False,True,True,True,True,True
169,False,False,False,False,False,False,False,False,False,True,True,True,True,True
170,False,False,False,False,False,False,False,False,False,True,True,True,True,True
171,False,False,False,False,False,False,False,False,False,True,True,True,True,True
172,False,False,False,False,False,False,False,False,False,True,True,True,True,True
173,False,False,False,False,False,False,False,False,False,True,True,True,True,True
174,False,False,False,False,False,False,False,False,False,True,True,True,True,True
175,False,False,False,False,False,False,False,False,False,True,True,True,True,True
176,False,False,False,False,False,False,False,False,False,True,True,True,True,True
177,False,False,False,False,False,False,False,False,False,True,True,True,True,True
178,False,False,False,False,False,False,False,False,False,True,True,True,True,True
179,False,False,False,False,False,False,False,False,False,True,True,True,True,True
180,False,False,False,False,False,False,False,False,False,True,True,True,True,True
181,False,False,False,False,False,False,False,False,False,True,True,True,True,True
182,False,False,False,False,False,False,False,False,False,True,True,True,True,True
183,False,False,False,False,False,False,False,False,False,True,True,True,True,True
184,False,False,False,False,False,False,False,False,False,True,True,True,True,True
185,False,False,False,False,False,False,False,False,False,True,True,True,True,True
186,False,False,False,False,False,False,False,False,False,True,True,True,True,True
187,False,False,False,False,False,False,False,False,False,True,True,True,True,True
188,False,False,False,False,False,False,False,False,False,True,True,True,True,True
189,False,False,False,False,False,False,False,False,False,True,True,True,True,True
190,False,False,False,False,False,False,False,False,False,True,True,True,True,True
191,False,False,False,False,False,False,False,False,False,True,True,True,True,True
192,False,False,False,False,False,False,False,False,False,True,True,True,True,True
193,False,False,False,False,False,False,False,False,False,True,True,True,True,True
194,False,False,False,False,False,False,False,False,False,True,True,True,True,True
195,False,False,False,False,False,False,False,False,False,True,True,True,True,True
196,False,False,False,False,False,False,False,False,False,True,True,True,True,True
197,False,False,False,False,False,False,False,False,False,True,True,True,True,True

In [9]:
cars1.dropna(axis = 1, inplace = True)

In [11]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
mpg             198 non-null float64
cylinders       198 non-null int64
displacement    198 non-null int64
horsepower      198 non-null object
weight          198 non-null int64
acceleration    198 non-null float64
model           198 non-null int64
origin          198 non-null int64
car             198 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.0+ KB

In [12]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [13]:
cars1.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model           0
origin          0
car             0
dtype: int64

### Step 5. What is the number of observations in each dataset?

In [14]:
cars1.shape

(198, 9)

In [15]:
cars2.shape

(200, 9)

# Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [14]:
frame = [cars1, cars2]

In [15]:
cars = pd.concat(frame)

In [16]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [29]:
cars.shape

(398, 10)

In [33]:
cars.columns.values

array(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'owners'], dtype=object)

In [36]:
cars['origin'].count()

398

# Step 7. There is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [17]:
cars['owners'] = np.random.randint(15000, 73000, size = len(cars))

In [18]:
cars.shape

(398, 10)

### Step 8. Add the column owners to cars

In [75]:
cars['owners'] = np.random.randint(15000, 73000, size = len(cars))

In [76]:
cars.shape

(398, 10)

In [73]:
cars = cars.reset_index(drop = True)

In [19]:
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,70509
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,31601
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,33742
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,54587
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,52315

In [80]:
cars.describe()

,mpg,cylinders,displacement,weight,acceleration,model,origin,owners
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.427136,2970.424623,15.568090,76.010050,1.572864,43689.497487
std,7.815984,1.701004,104.268683,846.841774,2.757689,3.697627,0.802055,16688.117411
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000,15068.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000,28935.250000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000,44237.500000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000,57795.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000,72979.000000

In [44]:
cars.loc[199,:]

mpg                     31
cylinders                4
displacement           119
horsepower              82
weight                2720
acceleration          19.4
model                   82
origin                   1
car             chevy s-10
owners               61969
Name: 199, dtype: object